a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: #4CAF50;
}
.topHeader {
    text-align: center;
    display: flex;
    align-items: center;
    
}
.topHeaderList {
    list-style: none;
}
li {
    display: inline-block;
}
.logo {
    width: 20%;
    height: auto;
    margin: 5px;
}

.navbar {
    background-color: #4CAF50!important;
   
}
.navbar-nav {
    margin: 0 auto ;
  
}


.mainimg{
    width: 70%;
    height: 400px;
    max-height: 400px;
}

.smimg{
    max-width: 100px;
    width:100px;
    max-height: 100px;
    height: 100px;
    float: left;
    
}

.socialmedia{
    max-width:40px;
}

/*-------------------
FOOTER
-------------------*/

.containerFooter {
    background-color: transperant;
    margin: 20px 0 0 0;
}
.headerFooter {
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;
    justify-content: space-between;
    padding: 7px 15px;
}
.logotypeFooter {
    width: 50%;
    height: auto;
}
.blockList {
    display: block;
}
.btnFooter {
    border: 0;
    padding: 7px 20px;
    background-color: black;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.btnFooter:hover {
    background-color: #4CAF50;
}
.fab {
    font-size: 25px;
    margin: 10px;
}
.bodyFooter {
    padding: 15px;
}
#connectHeading {
    text-transform: uppercase;
    font-size: 1.1em;
}
.footFooter {
    border-top: 1px solid black;
    padding: 7px 15px;
}

/*-------------------
BOOKING PAGE
-------------------*/
.bookingForm {
    margin: 20px 0;
}
.featureImage {
    background-image: url('/images/featureImageBookingPage.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    display: flex;
    align-items: center;
}
.featureImage h1 {
    margin: 0 auto;
}
.bookingForm label {
    display: block;
}
.btnBook {
    margin: 7px 0;
}